dj-database-url==0.5.0
Django==1.11.4
django-toolbelt==0.0.1
gunicorn==19.7.1
numpy==1.14.2
pandas==0.22.0
psycopg2==2.7.4
python-dateutil==2.7.2
python-decouple==3.1
pytz==2018.4
scikit-learn==0.19.1
scipy==1.0.1
six==1.11.0
static3==0.7.0

